<h1>Schedules for <%= @current_user.first_name%> <%= @current_user.last_name%> </h1>

<% @schedules.each do |schedule| %>
	<!-- This is schedule ID:<%= schedule.id %>.<br> -->
	<%= @current_user.first_name %> is free at <%= schedule.location %> from:<br>
	<%= schedule.start_time %> to <%= schedule.end_time %>.
<% end %>
<br><br>
<%= link_to "Create New Schedule", new_schedule_path %>