<h1>Schedules for <%= @current_user.first_name%> <%= @current_user.last_name%> </h1>

<% @schedules.each do |schedule| %>
	<%= @current_user.first_name %> is free at <%= schedule.location %> from
	<%= schedule.start_time %> to <%= schedule.end_time %> on <%= schedule.day %>.<br>
<% end %>
<br><br>
<% if current_user.schedules.where("day = ?", Time.now.strftime("%A")).present? %>
  <%= link_to "Set Your Schedule", edit_schedule_path(current_user.schedules.find_by_day(Time.now.strftime("%A"))) %>
<% else %>
  <%= link_to "Create Your Schedule", new_schedule_path %>
<% end  %>
