
<div class = "profile-page"> 

<h1>Basic Info <span class="subclass" style = "font-size:16px;">[<%= link_to 'Edit', edit_user_path(current_user) %>]</span> </h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= image_tag current_user.imageurl %></td>
      <td><strong>Name:</strong><br><%= current_user.first_name %> <%= current_user.last_name %> 
          <%if current_user.class_year && current_user.res_college %> (<%= current_user.res_college %> '<%= current_user.class_year-2000  %>) <% end%></td>
      <td><strong>Preferred Email:</strong><br><%= current_user.email %></td>
      <td><strong>Cell Phone:</strong><br><%= current_user.phone %></td>   
    </tr>
  </tbody>
</table>




 <h1>Lunch List <!-- <span class="subclass" style = "font-size:16px;">[<%#="#{(Matching.where(user_id: current_user.id)).size} Friends" %>]</span>  --></h1>

 <%= render partial: 'matchings/matching' %>



<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    <% people = Hash[current_user.mutualfriends.sort_by{|k,v| v}.reverse] %>
    <% people.keys.each do |id| %>
      <tr>
      <% user = User.where(facebook_id: id ).first %>
      
      <% if (user != @current_user) %>  <!-- && @current_user.facebook_friend?(user)) %> -->
        <td><%= image_tag user.imageurl %></td>
        <td><%= user.first_name %> <%= user.last_name %> 
          <%if user.class_year && user.res_college %> (<%= user.res_college %> '<%= user.class_year-2000  %>) 
          <% end%>
        </td>
        <td><%= "#{people[id]} Mutual Friends" %></td>
        
        <% if @current_user.matchings.find_by(match_id: user.id) %>
          <td><%= "On Your Lunch List" %></td>
        <% else %>
          <td class="one-line"><%= link_to 'Add to Lunch List', matchings_path(match_id: user.id), method: :post, remote: true %></td>
        <% end %>

      <% end %>
      
      </tr>
    <% end %>
    
  </tbody>
</table>

</div>