<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Raleway' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<div class="lunchtyme">
			<%= link_to(image_tag("lunchtyme2.png", :alt => "Home"), new_session_path) %>
		</div>
		<div id="user_nav">
			<% if @current_user %>
				Hello, <strong><%= @current_user.first_name %></strong>!
				<%= link_to "Sign out", logout_path, id: "sign_out" %>
			<% else %>
				<%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
			<% end %>
		</div>
		<div class="sidebar">
		<%= link_to 'Profile', @current_user %> 
		<%= link_to 'Lunch List', users_path %> 
		    <%# if @current_user.matchings.find_by(match_id: user.id, status: 'pending').size > 5 %>
		      <%= link_to 'Sign up for lunch Today!', new_session_path %>
		    <%# else %>
		      <%#= link_to 'Add More Friends to Your Lunch List!', users_path %>
		    <%# end %>
		</div>
	</div>

<%= yield %>

</body>

</html>
