<p id="notice"><%= notice %></p>

<%# current_user.pull_facebook_friends %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @user.class_year %>
</p>

<p>
  <strong>Res college:</strong>
  <%= @user.res_college %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user != current_user %>
  <% if current_user.matchings.find_by(match_id: user.id) %>
      Already Friends
  <% elsif current_user.matchings.pending.find_by(:match_id => user.id) %>
      Lunch Request pending
  <% elsif user.friendships.pending.find_by(friend_id: current_user.id) %>
      <%= link_to 'Request Lunch', friendship_path(:friend_id => user.id), method: :put %>
  <% end %>
<% end %>
