<p id="notice"><%= notice %></p>

<%# current_user.pull_facebook_friends %>

<% @friendlist = [] %>

<%#=@current_user.imageurl%>
<%# current_user.friends.each do |friend|  %>
  <%# if !User.where(name: friend.values[0]).empty? %>
   <%# @friendlist << friend.values[0] %>
  <%# end %>
<%# end %>

  <br><br>About Me <br>

  <strong>Name:</strong>
   <td><%= @user.first_name %> <%= @user.last_name %> 
            <%if @user.class_year && @user.res_college %>
              (<%= @user.res_college %> '<%= @user.class_year-2000  %>)
            <% end%>
          </td>

  <br>Contact Info<br>
  <strong>Preferred Email:</strong>
  <%= @user.email %><br>

  <strong>Mobile Phone:</strong>
  <%= @user.phone %><br><br>


<%= link_to 'Edit Profile', edit_user_path(@user) %>