<p id="notice"><%= notice %></p>

<%# current_user.pull_facebook_friends %>

<%# @friendlist = [] %>

<%#=@current_user.imageurl%>
<%# current_user.friends.each do |friend|  %>
  <%# if !User.where(name: friend.values[0]).empty? %>
   <%# @friendlist << friend.values[0] %>
  <%# end %>
<%# end %>

<div>
  <%= image_tag @user.imageurl %></td>
    Basic Info 

  <strong>Name:</strong>
   <td><%= @user.first_name %> <%= @user.last_name %> 
            <%if @user.class_year && @user.res_college %>
              (<%= @user.res_college %> '<%= @user.class_year-2000  %>)
            <% end%>
          </td>

  
  <strong>Preferred Email:</strong>
  <%= @user.email %>

  <strong>Cell Phone:</strong>
  <%= @user.phone %><br><br>

  <%= "You have #{(Matching.where(user_id: current_user.id)).size} Friends on your Lunch List" %>

<%= link_to 'Edit Profile', edit_user_path(@user) %>
<br>
<br>
<% @user.find_matches(@user).each do |pal| %>
  <%= pal.first_name + " " + pal.last_name %><br>
<% end %>