<p id="notice"><%= notice %></p>

<%# current_user.pull_facebook_friends %>

<% @friendlist = [] %>

<%# current_user.friends.each do |friend|  %>
  <%# if !User.where(name: friend.values[0]).empty? %>
   <%# @friendlist << friend.values[0] %>
  <%# end  %>
<%# end  %>

<br><%= "Your Friends Using LunchtYme are #{@friendlist}" %>


  <br><br>About Me <br>

  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %> (<%= @user.res_college %> '<%= @user.class_year-2000 %>)<br>

  <br>Contact Info<br>
  <strong>Preferred Email:</strong>
  <%= @user.email %><br>

  <strong>Mobile Phone:</strong>
  <%= @user.phone %><br><br>


<%= link_to 'Edit Information', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user != @current_user %>
  <% if @user.matchings.find_by(match_id: @current_user.id, status: 'accepted') %>
      Already Matched
  <% elsif @user.matchings.find_by(match_id: @current_user.id, status: 'pending') %>
      Lunch Request Pending
  <% elsif @user.matchings.find_by(match_id: @current_user.id, status: 'requested') %>
      <%= link_to 'Request Lunch', matchings_path(match_id: @current_user.id), method: :post %>
  <% else %>
      <%= link_to 'Request Lunch', matchings_path(match_id: @current_user.id), method: :post %>
  <% end %>
<% end %>
